.slick-list {
    width: 550px;
    // background-color: aqua;
    margin: auto !important;
}

.button.slick-arrow.slick-prev {
    display: none !important;
}
.button.slick-arrow.slick-next {
    display: none !important;
}