@import '/src/components/media_queries';
body{
    background-color:  #f8f8f8;
}

.container{
    @include mobile {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    
    
}


.Header_App{
    // padding-top: 24px;
    // background-color:  #f8f8f8;
}